option_settings:
  - namespace: aws:autoscaling:asg
    option_name: MinSize
    value: 1
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: ming-key
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: elb-secgroup
  - namespace: aws:elb:healthcheck
    option_name: Interval
    value: 180
  - namespace: aws:elasticbeanstalk:application    
    option_name: Application Healthcheck URL
    value: /
  - namespace: aws:elb:loadbalancer
    option_name: SecurityGroups
    value: sg-22a5805a
  - namespace: aws:elb:loadbalancer
    option_name: ManagedSecurityGroup
    value: sg-22a5805a
