container_commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  start-memcached-daemon:
    command: "sudo yum -y install memcached && memcached -d -u ec2-user"
  collectstatics:
    command: "django-admin.py collectstatic --noinput"
      
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: openemr_api_project.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: openemr_api_project/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"
