option_settings:
  - namespace: aws:elb:listener:443
    option_name: ListenerProtocol
    value: HTTPS
  - namespace: aws:elb:listener:443
    option_name: SSLCertificateId
    value:  arn:aws:acm:us-east-1:868052361248:certificate/6a95c6d1-ce3c-46ed-aff0-4b925f18ff42 
  - namespace: aws:elb:listener:443
    option_name: InstancePort 
    value: 80
  - namespace: aws:elb:listener:443
    option_name: InstanceProtocol
    value: HTTP
