option_settings:
  - namespace: aws:elb:listener:443
    option_name: ListenerProtocol
    value: HTTPS
  - namespace: aws:elb:listener:443
    option_name: SSLCertificateId
    value: arn:aws:acm:us-east-1:868052361248:certificate/f11867a1-bd3e-4833-935b-fb6d5177b439 
  - namespace: aws:elb:listener:443
    option_name: InstancePort 
    value: 80
  - namespace: aws:elb:listener:443
    option_name: InstanceProtocol
    value: HTTP
