{% extends 'base.html' %}

{% block title %}{{ block.super }} | Dashboard{% endblock %}
{% block page_title %}Dashboard <small>Welcome, {{ user.first_name }}</small>{{ block.super }}{% endblock page_title %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Manage Users
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <a href="/users/overview"><i class="fa fa-users fa-5x"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                View Analytics
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <a href="/analytics"><i class="fa fa-area-chart fa-5x"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Settings
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <a href="/help"><i class="fa fa-gear fa-5x"></i></a>
                </div>
            </div>
        </div>
    </div>
    {% if user.is_staff %}
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create New User
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <a href="/accounts/create"><i class="fa fa-plus fa-5x"></i></a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}