{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | Authentication Failed{% endblock title %}

{% block page_header %}{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top:50px;">
        <div class="col-md-7 col-md-offset-2">
            <div class="panel-heading">
                <div class="alert alert-danger text-center">
                  <strong>Error!</strong> You lack the appropriate permissions to view this page.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}