{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}{{ block.super }} | Login{% endblock %}
{% block page_header %}{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form id="login-form" class="form-horizontal" action="./" method="POST" novalidate>
                        {% crispy login_form %}
                        <div class="form-group">
                            <div class="aab controls col-md-3"></div>
                            <div class="controls col-md-8">
                                <input type="submit" name="submit" value="Sign In" class="btn btn-success">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
