{% extends 'base.html' %}
{% load i18n %}


{% load crispy_forms_tags %}


{% block title %}{{ block.super }} | Create User{% endblock %}
{% block page_header %}{% endblock page_header %}


{% block content %}
<div class="login-panel panel panel-default" style="margin-top:50px;">
    <div class="panel-heading">
        <h3 class="panel-title">Create a New User</h3>
    </div>
    <div class="panel-body">
        <form id="user-create-form" class="form-horizontal" action="./" method="POST" novalidate>
            {% csrf_token %}
            {% crispy user_create_form %}
            <div class="form-group">
                <div class="aab controls col-md-2"></div>
                <div class="controls col-md-8">
                    <input type="submit" name="submit" value="Submit" class="btn btn-success">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

