{% extends 'base.html' %}
{% load i18n %}


{% load crispy_forms_tags %}


{% block title %}{{ block.super }} | Register User Successful{% endblock %}
{% block page_header %}{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top:50px;">
        <div class="col-md-7 col-md-offset-2">
            <div class="panel-heading">
                <div class="alert alert-success text-center">
                    {% if is_new %}
                    <strong>Success!</strong> You successfully created new user <strong>{{ new_user.username }}</strong>.
                    {% else %}
                    <strong>Success!</strong> You successfully updated user <strong>{{ selected_user.username }}</strong>.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="login-panel panel panel-default" style="margin-top:50px;">
            <div class="panel-heading">
                <h3 class="panel-title">User Summary</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Admin</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ new_user.username }}</td>
                                <td>{{ new_user.last_name }}, {{ new_user.first_name }}</td>
                                <td>{{ new_user.email }}</td>
                                <td>{{ new_user.is_staff|yesno:"Yes,No" }}</td>
                                <td>{{ new_user.date_joined }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}