{% extends 'base.html' %}

{% block title %}{{ block.super }} | Users{% endblock title %}

{% block stylesheets %}
    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- MetisMenu CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/1.1.3/metisMenu.min.css" rel="stylesheet">

    <!-- dataTables CSS -->
    <link href="/static/sb-admin-2/css/dataTables.bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/sb-admin-2/css/sb-admin-2.css" rel="stylesheet">
{% endblock stylesheets %}

{% block page_title %}User Overview {{ block.super }}{% endblock page_title %}

{% block content %}
{% if errors %}
{% for error in errors %}
<div class="alert alert-danger alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Error!</strong> {{ error }}.
</div>
{% endfor %}
{% endif %}
{% if message %}
<div class="alert alert-success alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Success!</strong> {{ message }}.
</div>
{% endif %}
<div class="row">
    <div class="col-lg">
        <div class="panel panel-default">
            <div class="panel-heading">
                RemoteHCS Users
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table width="100%" class="table table-hover" id="dataTables-users">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Admin</th>
                                <th>Created</th>
                                <th class="text-center">Manage</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for this_user in users %}
                            {% if this_user.is_active|yesno:"Yes,No" == "No" %}
                            <tr class="warning text-muted">
                            {% else %}
                            <tr>
                            {% endif %}
                                <td>{{ this_user.username }}{% if this_user.is_active|yesno:"Yes,No" == "No" %}
                                    <i class="fa fa-ban" style="color:#dd7788;"></i> <small><em>disabled</em></small>{% endif %}</td>
                                <td>{{ this_user.last_name }}, {{ this_user.first_name }}</td>
                                <td>{{ this_user.email }}</td>
                                <td>{{ this_user.is_staff|yesno:"Yes,No" }}</td>
                                <td>{{ this_user.date_joined|date:"M d, Y" }}</td>
                                <td class="text-center"><a class="manage" id="{{ this_user.username }}" onclick="loadUser()" ><i class="fa fa-edit"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
                <div class="well col-md-6">
                    <h4>Users Information</h4>
                    <p>This is a list of all users that are registered with RemoteHCS.  There are two different levels
                        of permissions.  They are <strong>Admin</strong> and <strong>FieldAgent</strong>.  The admin has
                        the ability to create/delete users and the field agent has the ability to communicate with the
                        RESTful API.
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Admin Tools
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="/accounts/register/" class="list-group-item">
                                    <h4 class="list-group-item-heading">Create New User</h4>
                                    <p class="list-group-item-text">Click here to provision a new RemoteHCS user.</p>
                                </a>
                                <a href="/accounts/logout/" class="list-group-item">
                                    <h4 class="list-group-item-heading">Logout</h4>
                                    <p class="list-group-item-text">Click here logout of your account.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-3 -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-9 -->
</div>
<!-- /.row -->

{% endblock content %}

{% block javascript %}
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/1.1.3/metisMenu.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>

    <!-- dataTables JavaScript -->
    <script src="/static/sb-admin-2/js/media/jquery.dataTables.min.js"></script>
    <script src="/static/sb-admin-2/js/integration/dataTables.bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/sb-admin-2/js/sb-admin-2.js"></script>

    <script>
    $(document).ready(function() {
        $('#dataTables-users').DataTable({
            responsive: true
        });

        $( "#ctl00_MainContent_grdSearch_itemsHolder > div:contains(1)" ).attr( "disabled", "disabled").css( "background-color", "gray" );
    });

    $(".manage").click(function(){
        var user;
        user = $(this).attr("id");
        $.get('/manage_user', {username: user}, function(next){
            window.location.href = "/users/manage"
        });
    });
    </script>
{% endblock javascript %}